		<hr>

		<footer>
			<a href="/about" class="copyright">&copy; {{ site.author.name }}</a>
			<nav>
				<a href="{{ site.author.weibo }}">Weibo</a> &middot;
				<a href="{{ site.author.zhihu }}">Zhihu</a> &middot;
				<a href="{{ site.author.twitter }}">Twitter</a> &middot;
				<a href="{{ site.author.github }}">Github</a>
			</nav>
			<p class="updatetime">Update Time : 2017-9-26</p>
			<span class="copyright">Thanks To <span>
				<em><a href="http://matthodan.com" class="copyright">Matt's Blog</a></em></span>
			</span>
		</footer>
