/* fullPage 1.6.6 */
html,
body {
    overflow: hidden;

    margin: 0;
    padding: 0;
}
#superContainer {
    position: relative;

    height: 100%;
    /* Touch detection for Windows 8 */

    -ms-touch-action: none;
        touch-action: none;
}
.section {
    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.slide {
    float: left;
}
.slide,
.slidesContainer {
    display: block;

    height: 100%;
}
.slides {
    position: relative;

    overflow: hidden;

    height: 100%;

    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
}
.section.table,
.slide.table {
    display: table;

    width: 100%;
}
.tableCell {
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;
}
.slidesContainer {
    position: relative;

    float: left;
}
.controlArrow {
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;
    margin-top: -38px;

    cursor: pointer;

    border-style: solid;
}
.controlArrow.prev {
    left: 15px;

    width: 0;

    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #FFFFFF transparent transparent;
}
.controlArrow.next {
    right: 15px;

    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #FFFFFF;
}
.scrollable {
    overflow: scroll;
}
.easing {
    -webkit-transition: all .7s ease-out;
       -moz-transition: all .7s ease-out;
         -o-transition: all .7s ease-out;
            transition: all .7s ease-out;
}
#fullPage-nav {
    position: fixed;
    z-index: 100;
    top: 50%;

    margin-top: -32px;

    opacity: 0;
}
#fullPage-nav.right {
    right: 17px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;

    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fullPage-nav li,
.fullPage-slidesNav li {
    position: relative;

    display: block;

    width: 14px;
    height: 13px;
    margin: 7px;
}
.fullPage-slidesNav li {
    display: inline-block;
}
#fullPage-nav li a,
.fullPage-slidesNav li a {
    position: relative;
    z-index: 1;

    display: block;

    width: 100%;
    height: 100%;

    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
    background: #333333;
}
#fullPage-nav span,
.fullPage-slidesNav span {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;

    width: 8px;
    height: 8px;

    border: 1px solid #000000;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: rgba(0, 0, 0, 0);
}
.fullPage-tooltip {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;

    position: absolute;
    top: -2px;

    color: #FFFFFF;
}
.fullPage-tooltip.right {
    right: 20px;
}
.fullPage-tooltip.left {
    left: 20px;
}
