$color-text-dark: #2D2D2D;
$color-text-light: #FFFFFF;
$color-hover: #FF9900;
$color-hover-transparent: rgba(255, 153, 0, .8);
$color-background-dark: rgba(0, 0, 0, .5);
$color-background-light: rgba(255, 255, 255, .1);
$fonts-body: 'Junge Regular', 'Times New Roman', 'Microsoft YaHei', '宋体', Georgia, serif;