// $fonts-heading: 'Ubuntu Condensed', Helvetica, sans-serif;
$fonts-heading: 'STIX2Text', 'Times New Roman', '思源宋体', 'Microsoft YaHei', '宋体', serif;
// $fonts-body: 'Bitter', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$fonts-body: 'STIX2Text', 'Times New Roman', '思源宋体', 'Microsoft YaHei', '宋体', serif;
// $fonts-code: Monaco, 'Lucida Console', monospace;
$fonts-code: 'Latin Modern Mono Light', "Latin Modern Mono", monospace !important;
$fonts-quote: 'Latin Modern Mono Light', "Latin Modern Mono", '仿宋', '思源宋体', 'Microsoft YaHei', '宋体', monospace !important;
$color-text: rgba(0, 0, 0, .8);
$color-title: #b2dfdb;
$color-footer: #9499b7;
$color-hover: #FF9900;
$color-url: #0077CC;
$color-url-visited: #e95f73;
$color-hover-background: #e95f73;
$color-hover-transparent: rgba(255, 153, 0, .7);
$color-meta-link-hover: #797979;
$color-box-border: #37474f;
$color-toc-border: #CEDFF2;
$color-toc-background: #F5FAFF;
$color-code-background: #ffebee;
$color-code-border: #f8bbd0;
$color-inline-code-border: #bbdefb;
$color-inline-code-background: #eceff1;
$color-first-table-background: #607d8b;
$color-second-table-background: #eceff1;
$color-tag-box: #bfa3af;
$color-tag-box-hover: #b3e5fc;
$color-tag-background: #f2cedd;
$color-tag-background-hover: #83b9ff;
$color-tag-text: #1b5e20;
$color-quote: #dcedc8;
