@font-face {
    font-family: 'Bitter';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/bitter-regular-webfont.eot');
    src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bitter-regular-webfont.woff') format('woff'), url('../fonts/bitter-regular-webfont.ttf') format('truetype'), url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
}
@font-face {
    font-family: 'Junge Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/junge-regular-webfont.eot');
    src: url('../fonts/junge-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/junge-regular-webfont.woff') format('woff'), url('../fonts/junge-regular-webfont.ttf') format('truetype'), url('../fonts/junge-regular-webfont.svg#jungeregular') format('svg');
}
@font-face {
    font-family: 'Ubuntu Condensed';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ubuntu-c-webfont.eot');
    src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-c-webfont.woff') format('woff'), url('../fonts/ubuntu-c-webfont.ttf') format('truetype'), url('../fonts/ubuntu-c-webfont.svg#ubuntu_condensedregular') format('svg');
}

@font-face {
    font-family: 'STIX2Text';
    font-style: normal;
    font-weight: normal;
    src: local('STIX2Text Regular'),
        url('../fonts/STIX2Text-Regular.woff') format('woff'),
        url('ttps://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Text';
    font-style: italic;
    font-weight: normal;
    src: local('STIX2Text Italic'),
        url('../fonts/STIX2Text-Italic.woff') format('woff'),
        url('ttps://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Text';
    font-style: normal;
    font-weight: bold;
    src: local('STIX2Text Bold'),
        url('../fonts/STIX2Text-Bold.woff') format('woff'),
        url('ttps://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Text';
    font-style: italic;
    font-weight: bold;
    src: local('STIX2Text Bold Italic'),
    url('../fonts/STIX2Text-BoldItalic.woff') format('woff'),
    url('ttps://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-BoldItalic.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Math';
    font-style: italic;
    font-weight: bold;
    src: local('STIX2Math'),url('../fonts/STIX2Math.woff') format('woff')
}

@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../fonts/lmmonolt10-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../fonts/lmmonolt10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../fonts/lmmonolt10-boldoblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('../fonts/lmmonolt10-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SourceHanSerif';
    src: url('../fonts/SourceHanSerifSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceHanSerif';
    src: url('../fonts/SourceHanSerifSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}