.highlight .hll { background-color: #ffffff }
.highlight  { background: #ffffff; color: #000000 }
.highlight .c { color: #8e908c } /* Comment */
.highlight .k { color: #f5871f } /* Keyword */
.highlight .l { color: #8959a8 } /* Literal */
.highlight .n { color: #4271ae } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #4271ae } /* Punctuation */
.highlight .ch { color: #8e908c } /* Comment.Hashbang */
.highlight .cm { color: #8e908c } /* Comment.Multiline */
.highlight .cp { color: #8e908c } /* Comment.Preproc */
.highlight .cpf { color: #8e908c } /* Comment.PreprocFile */
.highlight .c1 { color: #8e908c } /* Comment.Single */
.highlight .cs { color: #8e908c } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #c82829 } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #8e908c } /* Generic.Subheading */
.highlight .kc { color: #f5871f } /* Keyword.Constant */
.highlight .kd { color: #f5871f } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #f5871f } /* Keyword.Pseudo */
.highlight .kr { color: #f5871f } /* Keyword.Reserved */
.highlight .kt { color: #f5871f } /* Keyword.Type */
.highlight .ld { color: #3e999f } /* Literal.Date */
.highlight .m { color: #8959a8 } /* Literal.Number */
.highlight .s { color: #3e999f } /* Literal.String */
.highlight .na { color: #c82829 } /* Name.Attribute */
.highlight .nb { color: #4271ae } /* Name.Builtin */
.highlight .nc { color: #c82829 } /* Name.Class */
.highlight .no { color: #f5871f } /* Name.Constant */
.highlight .nd { color: #c82829 } /* Name.Decorator */
.highlight .ni { color: #4271ae } /* Name.Entity */
.highlight .ne { color: #c82829 } /* Name.Exception */
.highlight .nf { color: #c82829 } /* Name.Function */
.highlight .nl { color: #4271ae } /* Name.Label */
.highlight .nn { color: #4271ae } /* Name.Namespace */
.highlight .nx { color: #c82829 } /* Name.Other */
.highlight .py { color: #4271ae } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #4271ae } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #4271ae } /* Text.Whitespace */
.highlight .mb { color: #8959a8 } /* Literal.Number.Bin */
.highlight .mf { color: #8959a8 } /* Literal.Number.Float */
.highlight .mh { color: #8959a8 } /* Literal.Number.Hex */
.highlight .mi { color: #8959a8 } /* Literal.Number.Integer */
.highlight .mo { color: #8959a8 } /* Literal.Number.Oct */
.highlight .sa { color: #3e999f } /* Literal.String.Affix */
.highlight .sb { color: #3e999f } /* Literal.String.Backtick */
.highlight .sc { color: #3e999f } /* Literal.String.Char */
.highlight .dl { color: #3e999f } /* Literal.String.Delimiter */
.highlight .sd { color: #3e999f } /* Literal.String.Doc */
.highlight .s2 { color: #3e999f } /* Literal.String.Double */
.highlight .se { color: #8959a8 } /* Literal.String.Escape */
.highlight .sh { color: #3e999f } /* Literal.String.Heredoc */
.highlight .si { color: #3e999f } /* Literal.String.Interpol */
.highlight .sx { color: #3e999f } /* Literal.String.Other */
.highlight .sr { color: #3e999f } /* Literal.String.Regex */
.highlight .s1 { color: #3e999f } /* Literal.String.Single */
.highlight .ss { color: #3e999f } /* Literal.String.Symbol */
.highlight .bp { color: #4271ae } /* Name.Builtin.Pseudo */
.highlight .fm { color: #c82829 } /* Name.Function.Magic */
.highlight .vc { color: #4271ae } /* Name.Variable.Class */
.highlight .vg { color: #4271ae } /* Name.Variable.Global */
.highlight .vi { color: #4271ae } /* Name.Variable.Instance */
.highlight .vm { color: #4271ae } /* Name.Variable.Magic */
.highlight .il { color: #8959a8 } /* Literal.Number.Integer.Long */

// .tomorrow-comment, pre .comment, pre .title {
//     color: #8e908c;
//   }
  
//   .tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
//     color: #c82829;
//   }
  
//   .tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
//     color: #f5871f;
//   }
  
//   .tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
//     color: #3e999f;
//   }
  
//   .tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
//     color: #4271ae;
//   }
  
//   .tomorrow-aqua, pre .css .hexcolor {
//     color: #3e999f;
//   }
  
//   .tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
//     color: #4271ae;
//   }
  
//   .tomorrow-purple, pre .keyword, pre .javascript .function {
//     color: #8959a8;
//   }
  
//   pre code {
//     display: block;
//     background: white;
//     color: #4d4d4c;
//     font-family: Menlo, Monaco, Consolas, monospace;
//     line-height: 1.5;
//     border: 1px solid #ccc;
//     padding: 10px;
//   }