<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="x-dns-prefetch-control" content="off">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="author" content="Coder Geass">
	<meta name="copyright" content="Copyright 2017 to the present">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link href="/assets/global-index.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/pygments.css" rel="stylesheet" type="text/css">
	<style type="text/css">@media print{#STTBimg{ display:none; }#STTBimg2{ display:none; }}</style>

	<title>{{ page.title }}</title>
</head>
<body>
	<div>
		{% include header.html %}

		{% include mathjax.html %}

		{{ content }}

		{% include footer.html %}
	</div>
</body>
</html>
